@import url('https://fonts.googleapis.com/css?family=Krona+One|Poppins|Roboto+Mono');

$main-bg-color: #1CC89D;
$main-text-color: #eee;
$main-fg-color: #FFB724;
$button-hl-color: #32d3ab;
$file-bg-color: #8971BC;
$output-bg-color: #8971BC; 

@mixin animation($name, $duration, $timing, $delay, $fillmode, $iter) {
  -webkit-animation: $name $duration $timing $delay $fillmode $iter;
  -moz-animation: $name $duration $timing $delay $fillmode $iter;
  -o-animation: $name $duration $timing $delay $fillmode $iter;
  animation: $name $duration $timing $delay $fillmode $iter;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  background: $main-bg-color;
  font-size: 12px;
  margin: 0;
  color: $main-text-color;
}

h1 {
  text-align: center;
  margin: 20px 0 0 0;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  font-family: 'Roboto+Mono', monospace;
  margin: 0;
}

.form-output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 50vw;
  background-color: $main-fg-color;
  border-radius: 10px;
  box-shadow: 2px 2px 5px grey;
  margin: 10vh auto 0 auto;
}

.upload-form {
  color: $main-text-color;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  input {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  p {
    background-color: $file-bg-color;
    font-size: 1.25em;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 0px;
    transition: width 0.5s;
  }

  p.expanded {
    width: 150px;
    padding: 5px;
  }

  label, button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $main-text-color;
    background-color: #1CC89D;
    border-radius: 5px;
    box-shadow: 2px 2px 5px grey;
    border: none;
    width: 100px;
    height: 50px;
    padding: 0;
    margin: 5px;
    font-size: 1.25em;
    font-weight: 700;
    &:hover {
      box-shadow: none;
      background-color: $button-hl-color;
      cursor: pointer;
    }
    svg {
      margin: 10px;
    }
  }

  .expanded-button {
    margin: 5px 0;
  }

  .button-disabled {
    background-color:grey;
    color: darkgray;
    &:hover {
      box-shadow: none;
      background-color: grey;
      cursor: not-allowed;
    }
  }
}

.output {
  display: flex;
  justify-content: center;
  background-color: $output-bg-color;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 5px;
  width: 45vw;
  height: 0px;
  transition: height 0.5s;
  &.output-expanded{
    height: 110px;
  }
}

.loader {
  margin: auto;
  border: 8px solid #f3f3f3;
  border-top: 8px solid $output-bg-color; 
  border-radius: 50%;
  max-width: 50px;
  max-height: 50px;
  width: 8vw;
  height: 8vw;
  @include animation(spin, .5s, linear, 0s, none, infinite);
}